<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hci.WebsiteDolly.WindowsClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hci.WebsiteDolly.WindowsClient.Settings>
            <setting name="DestinationFolder" serializeAs="String">
                <value>C:\Hunter Concepts\Website Dolly\</value>
            </setting>
            <setting name="ImageFolderName" serializeAs="String">
                <value>images</value>
            </setting>
            <setting name="StylesheetFolderName" serializeAs="String">
                <value>stylesheets</value>
            </setting>
            <setting name="ScriptFolderName" serializeAs="String">
                <value>scripts</value>
            </setting>
            <setting name="VideoFolderName" serializeAs="String">
                <value>videos</value>
            </setting>
            <setting name="OpenSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenDestination" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExploreDestination" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SourceShortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearDestination" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggingPath" serializeAs="String">
                <value>C:\Hunter Concepts\Website Dolly\Log</value>
            </setting>
            <setting name="CompareFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeparateFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserFolders" serializeAs="String">
                <value>True</value>
            </setting>
        </Hci.WebsiteDolly.WindowsClient.Settings>
    </userSettings>
</configuration>